/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
	margin:0;
	padding:0;
	font-family: 'Droid Sans', serif;
	height: 100%;
	width: 100%;
	background-color: #f6f6f6;
}

#view{
	height: 95%;
	width: 100%;
}

#mainBody{
	position: relative;
	height: 95%;
	width: 100%;
}

.row{
	margin: 0;
	float: left;
	display: inline;
	height: 25%;
	width: 100%;
	position: relative;
}

.navbar-brand{
	font-size: x-large;
	opacity: .85;
}

.navbar-brand:hover{
	opacity: 1;
}

#swatchTitle{
	color: #b1811e;
}

h3{
	padding-top: 25%;
	text-align: center;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-top: 1%;
    height: 5%;
}

.colorBox {
	height: 100%;
	width: 20%;
}

.colorBox:hover{
	opacity: 0.85;
	color: black;
}

footer{
	text-align: center;
	color: gray;
	height: 5%;
	padding-top: auto;
	padding-bottom: auto;
	background-color: #3f3f3f;
}

.row a{
	color: #4e4e4e;
}

.row a:hover, .row a:focus{
	text-decoration: none;
	color: #121f1f;
}

#copyMessage{
	text-align: center;
	padding-top: 20%;
	height: 95%;
	width: 100%;
}

#weather{
	color: gray;
	text-transform: lowercase;
	font-size: small;
}

footer a{
	color: gray;
}

footer a:hover{
	text-decoration: none;
	color: white;
}

@media (max-width: 985px) {
	.navbar{
		margin-right: 0;
		margin-left: 0;
	}

	#mainBody{
		height: 95%;
	}
}

@media (max-width: 470px){
	.navbar-brand{
		font-size: x-small;
		opacity: .85;
	}

	#mainBody{
		height: 95%;
	}
}









