/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
	margin:0;
	padding:0;
	font-family: 'Droid Sans', serif;
	height: 100%;
	width: 100%;
	background-color: #f6f6f6;
}

#view{
	height: 95%;
	width: 100%;
}

#mainBody{
	position: relative;
	height: 93%;
	width: 100%;
	margin-top: 1%;
}

/*----------------------------------- COLOR SWATCH ------------------------------*/

.row{
	margin: 0;
	float: left;
	display: inline;
	height: 25%;
	width: 100%;
}

#colorSwatch{
	z-index: 1;
	position: relative;
}

.colorBox {
	height: 100%;
	width: 20%;
	color: #4e4e4e;
}

.showInfo{
	color: white;
}

/*------------------------------------- FOOTER ----------------------------------------*/

footer{
	text-align: center;
	color: gray;
	height: 5%;
	padding-top: 1%;
	background: url(images/footer_lodyas.png);
}

footer a{
	color: gray;
}

footer a:hover{
	text-decoration: none;
	color: white;
}


/*-------------------------------------- NAVBAR ----------------------------------*/

.navbar-brand{
	padding-top: 0;
	font-size: x-large;
	opacity: .85;
}

.navbar-brand:hover{
	opacity: 1;
}

#swatchTitle{
	color: #b1811e;
	font-weight: bold;
}

#weatherTitle{
	color: #428bca;
	font-weight: bold;
}

h3{
	padding-top: 25%;
	text-align: center;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 1%;
    height: 5%;
    position: relative;
}

#weather{
	color: gray;
	text-transform: lowercase;
	font-size: small;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	z-index: 1;
}

/*------------------------------------- SIDE PANEL ------------------------------------*/

#sidePanel{
	z-index: 2;
	height: 99.8%;
	width: 20%;
	position: absolute;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #f6f6f6;
	font-family: 'Droid Sans', serif;
	color: #4e4e4e;
	-webkit-box-shadow: 8px 0 10px -7px gray;
	-moz-box-shadow: 8px 0 10px -7px gray;
	box-shadow: 8px 0 10px -7px gray;
	opacity: 0.90;
} 

#sidePanel h3{
	text-align: left;
	padding-top: 25px;
	padding-bottom: 10px;
	margin: 0;
}

#sidePanel a:hover{
	text-decoration: none;
	color: #2e618d;
}

#sidePanel ul{
	padding: 25px;
	list-style-type: none;
}

#sidePanel ul li{
	list-style-image: url(images/check.png);
}

#closeArea{
	width: 100%;
	padding-bottom: 35px;
}

#close{
	padding-top: 20px;
	float: right;
	opacity: 0.35;
}

#close:hover{
	opacity: 0.7;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Bubble Float Bottom */
.hvr-bubble-float-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: inherit;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:hover, .hvr-bubble-float-bottom:focus, .hvr-bubble-float-bottom:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hvr-bubble-float-bottom:hover:before, .hvr-bubble-float-bottom:focus:before, .hvr-bubble-float-bottom:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}


/*------------------------------------- RESPONSIVE RULES ----------------------------*/

@media (max-width: 1556px) {
	.navbar{
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: 1000px){
	.navbar-brand{
		font-size: small;
	}

	#mainBody{
		height: 94%;
	}

	footer{
		padding-top: 2%;
	}

	#sidePanel{
		width: 40%;
	}
}

@media (max-width: 470px){
	.navbar-brand{
		font-size: x-small;
	}

	#sidePanel{
		width: 100%;
		height: auto;
	}
}









