/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
	margin:0;
	padding:0;
	font-family: 'Droid Sans', serif;
	height: 100%;
	width: 100%;
}

#view{
	height: 90%;
	width: 100%;
}

#mainBody{
	position: relative;
	height: 100%;
	width: 100%;
}

.row{
	margin: 0;
	float: left;
	display: inline;
	height: 25%;
	width: 100%;
	margin-bottom: 2px;
	position: relative;
}

.navbar-brand{
	font-size: x-large;
	opacity: .85;
}

.navbar-brand:hover{
	opacity: 1;
}

#swatchTitle{
	color: #b1811e;
}

h3{
	padding-top: 25%;
	text-align: center;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding: 10px 0 0 0;
    background-color: white;
    position: relative;
    margin-bottom: 0;
}

.colorBox {
	height: 100%;
	width: 20%;
}

footer{
	text-align: center;
	color: gray;
}

.row a{
	color: #040707;
}

.row a:hover, .row a:focus{
	text-decoration: none;
	color: #121f1f;
}

#copyMessage{
	text-align: center;
	padding-top: 20%;
	height: 95%;
	width: 100%;
}

#weather{
	color: gray;
	text-transform: lowercase;
	font-size: small;
}










