<div id="sidePanel" ng-click="sidePanelService.hide()">
	<div id="closeArea">
		<img id="close" src="css/images/close2.jpeg">
	</div>

	<h3>weather + colour</h3>
	<p>Weather Swatch is a tool for web designers that generates a collection of color swatches based on the current weather conditions in a random city</p>

	<h3>how to</h3>
	<ul>
		<li>Click <span id="weatherTitle">WEATHER</span> <span id="swatchTitle">SWATCH</span> for a new set of cities</li>
		<li>Select a city for a new set of weather swatches</li>
	</ul>

	<p>Read the story behind this site <a href="https://github.com/JustinSYDE/WeatherSwatch">here</a>!</p>
</div>
